.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  color: #ffffffde;
  text-align: center;
  margin-top: 30vh;
}

.content h1 {
  font-size: 8rem;
  font-weight: 400;
}

.content__city h3 {
  font-size: 3rem;
  font-weight: 400;
}

.content__city span {
  font-size: 1.25rem;
}

.weather__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather__image img {
  width: 50px;
  height: 50px;
}

.weather__image span {
  font-size: 1.25rem;
}

@media (min-width: 1024px) {
  .content {
    margin-top: 50vh;
    flex-direction: row;
    justify-content: start;
    text-align: left;
    gap: 30px;
  }

  .content h1 {
    font-size: 10rem;
  }

  .content__city h3 {
    font-size: 4.5rem;
  }

  .content__city span {
    font-size: 1.4rem;
  }

  .weather__image {
    display: flex;
    flex-direction: column;
  }

  .weather__image img {
    width: 80px;
    height: 80px;
  }

  .weather__image span {
    font-size: 1.4rem;
  }
}

@media (min-width: 1280px) {
  .content {
    gap: 40px;
  }

  .content h1 {
    font-size: 12rem;
  }

  .content__city h3 {
    font-size: 5.5rem;
  }
}
